*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}



.clearfix::after{
    content: "";
    display: table;
    clear: both;
}







body{
    width:50%;
    margin:auto;
    background-color: white;
}

/* HEADER */

#site-header{
    height: 150px;
    background-color: #ffd978;

}

/* HEADER */





/* MAIN */

.sidebar, .center{
    float: left;
}

.center{
    background-color: #4077dd;
    width:56%;
    margin:0 2%;
    
}

.sidebar{
    background-color:#d8e819;
    width:20%;}


/* MAIN */






/* FOOTER */


#site-footer{
    height: 50px;
    background-color: #d96b6b;
}

/* FOOTER */


/* DEBUG */


.debug .hero{
    background-color: #a061b6;
    height:300px;
}

.debug .title{
    background-color: #b0ccbf;
    height: 100px;

}

.debug .sidebar, .debug .center{
    height: 400px;
}

/* DEBUG */



